openapi: 3.1.0
info:
  title: Google Docs Writer
  description: Create and update Google Docs with agentic output.
  version: 1.0.0

servers:
  - url: https://docs.googleapis.com

paths:
  /v1/documents:
    post:
      operationId: createDocument
      summary: Create a new Google Doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
              required:
                - title
      responses:
        '200':
          description: Document created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentId:
                    type: string
                  title:
                    type: string

  /v1/documents/{documentId}:batchUpdate:
    post:
      operationId: writeToDocument
      summary: Write content to a Google Doc
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    type: object
              required:
                - requests
      responses:
        '200':
          description: Content inserted into the document
